@tailwind base;
@tailwind components;
@tailwind utilities;
.slide-container {
  position: relative;
}
.img-slider {
  border-radius: 8px;
}
.slide-buttons {
  position: absolute;
  top: 40%;
  left: 0.5rem;
  background-color: transparent;
  color: white !important;
  border-radius: 40px;
  border: 1px solid white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slide-buttons.next {
  left: auto;
  right: 0.5rem;
}
.background-zoom {
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.background-zoom-image {
  opacity: 1 !important;
}
.footer {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.gallery-miniature{
  max-width: 100%;
  overflow-x: scroll;
  scrollbar-width: thin;
}
.image-miniatura{
  max-width: 80px;
}
*,
::before,
::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style: ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style: ;
}

/*
! tailwindcss v3.4.17 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: "";
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
  tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type="button"]),
input:where([type="reset"]),
input:where([type="submit"]) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder,
textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

:root,
[data-theme] {
  color: hsl(var(--heroui-foreground));
  background-color: hsl(var(--heroui-background));
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.pointer-events-none {
  pointer-events: none;
}

.static {
  position: static;
}

.fixed {
  position: fixed;
}

.relative {
  position: relative;
}

.sticky {
  position: sticky;
}

.inset-x-0 {
  left: 0px;
  right: 0px;
}

.bottom-0 {
  bottom: 0px;
}

.top-0 {
  top: 0px;
}

.top-\[var\(--navbar-height\)\] {
  top: var(--navbar-height);
}

.z-30 {
  z-index: 30;
}

.z-40 {
  z-index: 40;
}

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.box-border {
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.hidden {
  display: none;
}

.h-\[calc\(100dvh_-_var\(--navbar-height\)\)\] {
  height: calc(100dvh - var(--navbar-height));
}

.h-\[var\(--navbar-height\)\] {
  height: var(--navbar-height);
}

.h-auto {
  height: auto;
}

.h-full {
  height: 100%;
}

.w-6 {
  width: 1.5rem;
}

.w-full {
  width: 100%;
}

.w-screen {
  width: 100vw;
}

.max-w-\[1024px\] {
  max-width: 1024px;
}

.max-w-\[1280px\] {
  max-width: 1280px;
}

.max-w-\[1536px\] {
  max-width: 1536px;
}

.max-w-\[640px\] {
  max-width: 640px;
}

.max-w-\[768px\] {
  max-width: 768px;
}

.max-w-full {
  max-width: 100%;
}

.flex-grow {
  flex-grow: 1;
}

.basis-0 {
  flex-basis: 0px;
}

.cursor-default {
  cursor: default;
}

.list-none {
  list-style-type: none;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.items-center {
  align-items: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-4 {
  gap: 1rem;
}

.self-center {
  align-self: center;
}

.overflow-y-auto {
  overflow-y: auto;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.rounded-small {
  border-radius: var(--heroui-radius-small);
}

.border-b {
  border-bottom-width: 1px;
}

.border-divider {
  --tw-border-opacity: 1;
  border-color: hsl(
    var(--heroui-divider) /
      var(--heroui-divider-opacity, var(--tw-border-opacity))
  );
}

.bg-background {
  --tw-bg-opacity: 1;
  background-color: hsl(
    var(--heroui-background) /
      var(--heroui-background-opacity, var(--tw-bg-opacity))
  );
}

.bg-background\/70 {
  background-color: hsl(var(--heroui-background) / 0.7);
}

.bg-transparent {
  background-color: transparent;
}

.bg-stripe-gradient-danger {
  background-image: linear-gradient(
    45deg,
    hsl(var(--heroui-danger-200)) 25%,
    hsl(var(--heroui-danger)) 25%,
    hsl(var(--heroui-danger)) 50%,
    hsl(var(--heroui-danger-200)) 50%,
    hsl(var(--heroui-danger-200)) 75%,
    hsl(var(--heroui-danger)) 75%,
    hsl(var(--heroui-danger))
  );
}

.bg-stripe-gradient-default {
  background-image: linear-gradient(
    45deg,
    hsl(var(--heroui-default-200)) 25%,
    hsl(var(--heroui-default-400)) 25%,
    hsl(var(--heroui-default-400)) 50%,
    hsl(var(--heroui-default-200)) 50%,
    hsl(var(--heroui-default-200)) 75%,
    hsl(var(--heroui-default-400)) 75%,
    hsl(var(--heroui-default-400))
  );
}

.bg-stripe-gradient-primary {
  background-image: linear-gradient(
    45deg,
    hsl(var(--heroui-primary-200)) 25%,
    hsl(var(--heroui-primary)) 25%,
    hsl(var(--heroui-primary)) 50%,
    hsl(var(--heroui-primary-200)) 50%,
    hsl(var(--heroui-primary-200)) 75%,
    hsl(var(--heroui-primary)) 75%,
    hsl(var(--heroui-primary))
  );
}

.bg-stripe-gradient-secondary {
  background-image: linear-gradient(
    45deg,
    hsl(var(--heroui-secondary-200)) 25%,
    hsl(var(--heroui-secondary)) 25%,
    hsl(var(--heroui-secondary)) 50%,
    hsl(var(--heroui-secondary-200)) 50%,
    hsl(var(--heroui-secondary-200)) 75%,
    hsl(var(--heroui-secondary)) 75%,
    hsl(var(--heroui-secondary))
  );
}

.bg-stripe-gradient-success {
  background-image: linear-gradient(
    45deg,
    hsl(var(--heroui-success-200)) 25%,
    hsl(var(--heroui-success)) 25%,
    hsl(var(--heroui-success)) 50%,
    hsl(var(--heroui-success-200)) 50%,
    hsl(var(--heroui-success-200)) 75%,
    hsl(var(--heroui-success)) 75%,
    hsl(var(--heroui-success))
  );
}

.bg-stripe-gradient-warning {
  background-image: linear-gradient(
    45deg,
    hsl(var(--heroui-warning-200)) 25%,
    hsl(var(--heroui-warning)) 25%,
    hsl(var(--heroui-warning)) 50%,
    hsl(var(--heroui-warning-200)) 50%,
    hsl(var(--heroui-warning-200)) 75%,
    hsl(var(--heroui-warning)) 75%,
    hsl(var(--heroui-warning))
  );
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.text-large {
  font-size: var(--heroui-font-size-large);
  line-height: var(--heroui-line-height-large);
}

.text-medium {
  font-size: var(--heroui-font-size-medium);
  line-height: var(--heroui-line-height-medium);
}

.text-small {
  font-size: var(--heroui-font-size-small);
  line-height: var(--heroui-line-height-small);
}

.text-current {
  color: currentColor;
}

.text-danger {
  --tw-text-opacity: 1;
  color: hsl(
    var(--heroui-danger) / var(--heroui-danger-opacity, var(--tw-text-opacity))
  );
}

.text-foreground {
  --tw-text-opacity: 1;
  color: hsl(
    var(--heroui-foreground) /
      var(--heroui-foreground-opacity, var(--tw-text-opacity))
  );
}

.text-inherit {
  color: inherit;
}

.text-primary {
  --tw-text-opacity: 1;
  color: hsl(
    var(--heroui-primary) /
      var(--heroui-primary-opacity, var(--tw-text-opacity))
  );
}

.text-secondary {
  --tw-text-opacity: 1;
  color: hsl(
    var(--heroui-secondary) /
      var(--heroui-secondary-opacity, var(--tw-text-opacity))
  );
}

.text-success {
  --tw-text-opacity: 1;
  color: hsl(
    var(--heroui-success) /
      var(--heroui-success-opacity, var(--tw-text-opacity))
  );
}

.text-warning {
  --tw-text-opacity: 1;
  color: hsl(
    var(--heroui-warning) /
      var(--heroui-warning-opacity, var(--tw-text-opacity))
  );
}

.underline {
  text-decoration-line: underline;
}

.no-underline {
  text-decoration-line: none;
}

.underline-offset-4 {
  text-underline-offset: 4px;
}

.opacity-disabled {
  opacity: var(--heroui-disabled-opacity);
}

.shadow {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color),
    0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.outline-none {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.ring {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
    var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
    calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow, 0 0 #0000);
}

.backdrop-blur-lg {
  --tw-backdrop-blur: blur(16px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
}

.backdrop-blur-xl {
  --tw-backdrop-blur: blur(24px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
}

.backdrop-saturate-150 {
  --tw-backdrop-saturate: saturate(1.5);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
}

.transition-none {
  transition-property: none;
}

.transition-opacity {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

:root,
.light,
[data-theme="light"] {
  color-scheme: light;
  --heroui-background: 0 0% 100%;
  --heroui-foreground-50: 0 0% 98.04%;
  --heroui-foreground-100: 240 4.76% 95.88%;
  --heroui-foreground-200: 240 5.88% 90%;
  --heroui-foreground-300: 240 4.88% 83.92%;
  --heroui-foreground-400: 240 5.03% 64.9%;
  --heroui-foreground-500: 240 3.83% 46.08%;
  --heroui-foreground-600: 240 5.2% 33.92%;
  --heroui-foreground-700: 240 5.26% 26.08%;
  --heroui-foreground-800: 240 3.7% 15.88%;
  --heroui-foreground-900: 240 5.88% 10%;
  --heroui-foreground: 201.81999999999994 24.44% 8.82%;
  --heroui-divider: 0 0% 6.67%;
  --heroui-divider-opacity: 0.15;
  --heroui-focus: 212.01999999999998 100% 46.67%;
  --heroui-overlay: 0 0% 0%;
  --heroui-content1: 0 0% 100%;
  --heroui-content1-foreground: 201.81999999999994 24.44% 8.82%;
  --heroui-content2: 240 4.76% 95.88%;
  --heroui-content2-foreground: 240 3.7% 15.88%;
  --heroui-content3: 240 5.88% 90%;
  --heroui-content3-foreground: 240 5.26% 26.08%;
  --heroui-content4: 240 4.88% 83.92%;
  --heroui-content4-foreground: 240 5.2% 33.92%;
  --heroui-default-50: 0 0% 98.04%;
  --heroui-default-100: 240 4.76% 95.88%;
  --heroui-default-200: 240 5.88% 90%;
  --heroui-default-300: 240 4.88% 83.92%;
  --heroui-default-400: 240 5.03% 64.9%;
  --heroui-default-500: 240 3.83% 46.08%;
  --heroui-default-600: 240 5.2% 33.92%;
  --heroui-default-700: 240 5.26% 26.08%;
  --heroui-default-800: 240 3.7% 15.88%;
  --heroui-default-900: 240 5.88% 10%;
  --heroui-default-foreground: 0 0% 0%;
  --heroui-default: 240 4.88% 83.92%;
  --heroui-primary-50: 212.5 92.31% 94.9%;
  --heroui-primary-100: 211.84000000000003 92.45% 89.61%;
  --heroui-primary-200: 211.84000000000003 92.45% 79.22%;
  --heroui-primary-300: 212.24 92.45% 68.82%;
  --heroui-primary-400: 212.14 92.45% 58.43%;
  --heroui-primary-500: 212.01999999999998 100% 46.67%;
  --heroui-primary-600: 212.14 100% 38.43%;
  --heroui-primary-700: 212.24 100% 28.82%;
  --heroui-primary-800: 211.84000000000003 100% 19.22%;
  --heroui-primary-900: 211.84000000000003 100% 9.61%;
  --heroui-primary-foreground: 0 0% 100%;
  --heroui-primary: 212.01999999999998 100% 46.67%;
  --heroui-secondary-50: 270 61.54% 94.9%;
  --heroui-secondary-100: 270 59.26% 89.41%;
  --heroui-secondary-200: 270 59.26% 78.82%;
  --heroui-secondary-300: 270 59.26% 68.24%;
  --heroui-secondary-400: 270 59.26% 57.65%;
  --heroui-secondary-500: 270 66.67% 47.06%;
  --heroui-secondary-600: 270 66.67% 37.65%;
  --heroui-secondary-700: 270 66.67% 28.24%;
  --heroui-secondary-800: 270 66.67% 18.82%;
  --heroui-secondary-900: 270 66.67% 9.41%;
  --heroui-secondary-foreground: 0 0% 100%;
  --heroui-secondary: 270 66.67% 47.06%;
  --heroui-success-50: 146.66999999999996 64.29% 94.51%;
  --heroui-success-100: 145.71000000000004 61.4% 88.82%;
  --heroui-success-200: 146.2 61.74% 77.45%;
  --heroui-success-300: 145.78999999999996 62.57% 66.47%;
  --heroui-success-400: 146.01 62.45% 55.1%;
  --heroui-success-500: 145.96000000000004 79.46% 43.92%;
  --heroui-success-600: 146.01 79.89% 35.1%;
  --heroui-success-700: 145.78999999999996 79.26% 26.47%;
  --heroui-success-800: 146.2 79.78% 17.45%;
  --heroui-success-900: 145.71000000000004 77.78% 8.82%;
  --heroui-success-foreground: 0 0% 0%;
  --heroui-success: 145.96000000000004 79.46% 43.92%;
  --heroui-warning-50: 54.55000000000001 91.67% 95.29%;
  --heroui-warning-100: 37.139999999999986 91.3% 90.98%;
  --heroui-warning-200: 37.139999999999986 91.3% 81.96%;
  --heroui-warning-300: 36.95999999999998 91.24% 73.14%;
  --heroui-warning-400: 37.00999999999999 91.26% 64.12%;
  --heroui-warning-500: 37.02999999999997 91.27% 55.1%;
  --heroui-warning-600: 37.00999999999999 74.22% 44.12%;
  --heroui-warning-700: 36.95999999999998 73.96% 33.14%;
  --heroui-warning-800: 37.139999999999986 75% 21.96%;
  --heroui-warning-900: 37.139999999999986 75% 10.98%;
  --heroui-warning-foreground: 0 0% 0%;
  --heroui-warning: 37.02999999999997 91.27% 55.1%;
  --heroui-danger-50: 339.13 92% 95.1%;
  --heroui-danger-100: 340 91.84% 90.39%;
  --heroui-danger-200: 339.3299999999999 90% 80.39%;
  --heroui-danger-300: 339.11 90.6% 70.78%;
  --heroui-danger-400: 339 90% 60.78%;
  --heroui-danger-500: 339.20000000000005 90.36% 51.18%;
  --heroui-danger-600: 339 86.54% 40.78%;
  --heroui-danger-700: 339.11 85.99% 30.78%;
  --heroui-danger-800: 339.3299999999999 86.54% 20.39%;
  --heroui-danger-900: 340 84.91% 10.39%;
  --heroui-danger-foreground: 0 0% 100%;
  --heroui-danger: 339.20000000000005 90.36% 51.18%;
  --heroui-divider-weight: 1px;
  --heroui-disabled-opacity: 0.5;
  --heroui-font-size-tiny: 0.75rem;
  --heroui-font-size-small: 0.875rem;
  --heroui-font-size-medium: 1rem;
  --heroui-font-size-large: 1.125rem;
  --heroui-line-height-tiny: 1rem;
  --heroui-line-height-small: 1.25rem;
  --heroui-line-height-medium: 1.5rem;
  --heroui-line-height-large: 1.75rem;
  --heroui-radius-small: 8px;
  --heroui-radius-medium: 12px;
  --heroui-radius-large: 14px;
  --heroui-border-width-small: 1px;
  --heroui-border-width-medium: 2px;
  --heroui-border-width-large: 3px;
  --heroui-box-shadow-small: 0px 0px 5px 0px rgb(0 0 0 / 0.02),
    0px 2px 10px 0px rgb(0 0 0 / 0.06), 0px 0px 1px 0px rgb(0 0 0 / 0.3);
  --heroui-box-shadow-medium: 0px 0px 15px 0px rgb(0 0 0 / 0.03),
    0px 2px 30px 0px rgb(0 0 0 / 0.08), 0px 0px 1px 0px rgb(0 0 0 / 0.3);
  --heroui-box-shadow-large: 0px 0px 30px 0px rgb(0 0 0 / 0.04),
    0px 30px 60px 0px rgb(0 0 0 / 0.12), 0px 0px 1px 0px rgb(0 0 0 / 0.3);
  --heroui-hover-opacity: 0.8;
}

.dark,
[data-theme="dark"] {
  color-scheme: dark;
  --heroui-background: 0 0% 0%;
  --heroui-foreground-50: 240 5.88% 10%;
  --heroui-foreground-100: 240 3.7% 15.88%;
  --heroui-foreground-200: 240 5.26% 26.08%;
  --heroui-foreground-300: 240 5.2% 33.92%;
  --heroui-foreground-400: 240 3.83% 46.08%;
  --heroui-foreground-500: 240 5.03% 64.9%;
  --heroui-foreground-600: 240 4.88% 83.92%;
  --heroui-foreground-700: 240 5.88% 90%;
  --heroui-foreground-800: 240 4.76% 95.88%;
  --heroui-foreground-900: 0 0% 98.04%;
  --heroui-foreground: 210 5.56% 92.94%;
  --heroui-focus: 212.01999999999998 100% 46.67%;
  --heroui-overlay: 0 0% 0%;
  --heroui-divider: 0 0% 100%;
  --heroui-divider-opacity: 0.15;
  --heroui-content1: 240 5.88% 10%;
  --heroui-content1-foreground: 0 0% 98.04%;
  --heroui-content2: 240 3.7% 15.88%;
  --heroui-content2-foreground: 240 4.76% 95.88%;
  --heroui-content3: 240 5.26% 26.08%;
  --heroui-content3-foreground: 240 5.88% 90%;
  --heroui-content4: 240 5.2% 33.92%;
  --heroui-content4-foreground: 240 4.88% 83.92%;
  --heroui-default-50: 240 5.88% 10%;
  --heroui-default-100: 240 3.7% 15.88%;
  --heroui-default-200: 240 5.26% 26.08%;
  --heroui-default-300: 240 5.2% 33.92%;
  --heroui-default-400: 240 3.83% 46.08%;
  --heroui-default-500: 240 5.03% 64.9%;
  --heroui-default-600: 240 4.88% 83.92%;
  --heroui-default-700: 240 5.88% 90%;
  --heroui-default-800: 240 4.76% 95.88%;
  --heroui-default-900: 0 0% 98.04%;
  --heroui-default-foreground: 0 0% 100%;
  --heroui-default: 240 5.26% 26.08%;
  --heroui-primary-50: 211.84000000000003 100% 9.61%;
  --heroui-primary-100: 211.84000000000003 100% 19.22%;
  --heroui-primary-200: 212.24 100% 28.82%;
  --heroui-primary-300: 212.14 100% 38.43%;
  --heroui-primary-400: 212.01999999999998 100% 46.67%;
  --heroui-primary-500: 212.14 92.45% 58.43%;
  --heroui-primary-600: 212.24 92.45% 68.82%;
  --heroui-primary-700: 211.84000000000003 92.45% 79.22%;
  --heroui-primary-800: 211.84000000000003 92.45% 89.61%;
  --heroui-primary-900: 212.5 92.31% 94.9%;
  --heroui-primary-foreground: 0 0% 100%;
  --heroui-primary: 212.01999999999998 100% 46.67%;
  --heroui-secondary-50: 270 66.67% 9.41%;
  --heroui-secondary-100: 270 66.67% 18.82%;
  --heroui-secondary-200: 270 66.67% 28.24%;
  --heroui-secondary-300: 270 66.67% 37.65%;
  --heroui-secondary-400: 270 66.67% 47.06%;
  --heroui-secondary-500: 270 59.26% 57.65%;
  --heroui-secondary-600: 270 59.26% 68.24%;
  --heroui-secondary-700: 270 59.26% 78.82%;
  --heroui-secondary-800: 270 59.26% 89.41%;
  --heroui-secondary-900: 270 61.54% 94.9%;
  --heroui-secondary-foreground: 0 0% 100%;
  --heroui-secondary: 270 59.26% 57.65%;
  --heroui-success-50: 145.71000000000004 77.78% 8.82%;
  --heroui-success-100: 146.2 79.78% 17.45%;
  --heroui-success-200: 145.78999999999996 79.26% 26.47%;
  --heroui-success-300: 146.01 79.89% 35.1%;
  --heroui-success-400: 145.96000000000004 79.46% 43.92%;
  --heroui-success-500: 146.01 62.45% 55.1%;
  --heroui-success-600: 145.78999999999996 62.57% 66.47%;
  --heroui-success-700: 146.2 61.74% 77.45%;
  --heroui-success-800: 145.71000000000004 61.4% 88.82%;
  --heroui-success-900: 146.66999999999996 64.29% 94.51%;
  --heroui-success-foreground: 0 0% 0%;
  --heroui-success: 145.96000000000004 79.46% 43.92%;
  --heroui-warning-50: 37.139999999999986 75% 10.98%;
  --heroui-warning-100: 37.139999999999986 75% 21.96%;
  --heroui-warning-200: 36.95999999999998 73.96% 33.14%;
  --heroui-warning-300: 37.00999999999999 74.22% 44.12%;
  --heroui-warning-400: 37.02999999999997 91.27% 55.1%;
  --heroui-warning-500: 37.00999999999999 91.26% 64.12%;
  --heroui-warning-600: 36.95999999999998 91.24% 73.14%;
  --heroui-warning-700: 37.139999999999986 91.3% 81.96%;
  --heroui-warning-800: 37.139999999999986 91.3% 90.98%;
  --heroui-warning-900: 54.55000000000001 91.67% 95.29%;
  --heroui-warning-foreground: 0 0% 0%;
  --heroui-warning: 37.02999999999997 91.27% 55.1%;
  --heroui-danger-50: 340 84.91% 10.39%;
  --heroui-danger-100: 339.3299999999999 86.54% 20.39%;
  --heroui-danger-200: 339.11 85.99% 30.78%;
  --heroui-danger-300: 339 86.54% 40.78%;
  --heroui-danger-400: 339.20000000000005 90.36% 51.18%;
  --heroui-danger-500: 339 90% 60.78%;
  --heroui-danger-600: 339.11 90.6% 70.78%;
  --heroui-danger-700: 339.3299999999999 90% 80.39%;
  --heroui-danger-800: 340 91.84% 90.39%;
  --heroui-danger-900: 339.13 92% 95.1%;
  --heroui-danger-foreground: 0 0% 100%;
  --heroui-danger: 339.20000000000005 90.36% 51.18%;
  --heroui-divider-weight: 1px;
  --heroui-disabled-opacity: 0.5;
  --heroui-font-size-tiny: 0.75rem;
  --heroui-font-size-small: 0.875rem;
  --heroui-font-size-medium: 1rem;
  --heroui-font-size-large: 1.125rem;
  --heroui-line-height-tiny: 1rem;
  --heroui-line-height-small: 1.25rem;
  --heroui-line-height-medium: 1.5rem;
  --heroui-line-height-large: 1.75rem;
  --heroui-radius-small: 8px;
  --heroui-radius-medium: 12px;
  --heroui-radius-large: 14px;
  --heroui-border-width-small: 1px;
  --heroui-border-width-medium: 2px;
  --heroui-border-width-large: 3px;
  --heroui-box-shadow-small: 0px 0px 5px 0px rgb(0 0 0 / 0.05),
    0px 2px 10px 0px rgb(0 0 0 / 0.2),
    inset 0px 0px 1px 0px rgb(255 255 255 / 0.15);
  --heroui-box-shadow-medium: 0px 0px 15px 0px rgb(0 0 0 / 0.06),
    0px 2px 30px 0px rgb(0 0 0 / 0.22),
    inset 0px 0px 1px 0px rgb(255 255 255 / 0.15);
  --heroui-box-shadow-large: 0px 0px 30px 0px rgb(0 0 0 / 0.07),
    0px 30px 60px 0px rgb(0 0 0 / 0.26),
    inset 0px 0px 1px 0px rgb(255 255 255 / 0.15);
  --heroui-hover-opacity: 0.9;
}

.tap-highlight-transparent {
  -webkit-tap-highlight-color: transparent;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.before\:block::before {
  content: var(--tw-content);
  display: block;
}

.before\:h-px::before {
  content: var(--tw-content);
  height: 1px;
}

.before\:w-6::before {
  content: var(--tw-content);
  width: 1.5rem;
}

.before\:-translate-y-1::before {
  content: var(--tw-content);
  --tw-translate-y: -0.25rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.before\:rotate-0::before {
  content: var(--tw-content);
  --tw-rotate: 0deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.before\:bg-current::before {
  content: var(--tw-content);
  background-color: currentColor;
}

.before\:transition-transform::before {
  content: var(--tw-content);
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.before\:duration-150::before {
  content: var(--tw-content);
  transition-duration: 150ms;
}

.before\:content-\[\'\'\]::before {
  --tw-content: "";
  content: var(--tw-content);
}

.after\:absolute::after {
  content: var(--tw-content);
  position: absolute;
}

.after\:inset-0::after {
  content: var(--tw-content);
  inset: 0px;
}

.after\:block::after {
  content: var(--tw-content);
  display: block;
}

.after\:h-full::after {
  content: var(--tw-content);
  height: 100%;
}

.after\:h-px::after {
  content: var(--tw-content);
  height: 1px;
}

.after\:w-6::after {
  content: var(--tw-content);
  width: 1.5rem;
}

.after\:w-full::after {
  content: var(--tw-content);
  width: 100%;
}

.after\:translate-y-1::after {
  content: var(--tw-content);
  --tw-translate-y: 0.25rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.after\:rotate-0::after {
  content: var(--tw-content);
  --tw-rotate: 0deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.after\:rounded-xl::after {
  content: var(--tw-content);
  border-radius: 0.75rem;
}

.after\:bg-current::after {
  content: var(--tw-content);
  background-color: currentColor;
}

.after\:opacity-0::after {
  content: var(--tw-content);
  opacity: 0;
}

.after\:transition-none::after {
  content: var(--tw-content);
  transition-property: none;
}

.after\:transition-transform::after {
  content: var(--tw-content);
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.after\:duration-150::after {
  content: var(--tw-content);
  transition-duration: 150ms;
}

.after\:content-\[\'\'\]::after {
  --tw-content: "";
  content: var(--tw-content);
}

.after\:transition-background::after {
  content: var(--tw-content);
  transition-property: background;
  transition-timing-function: ease;
  transition-duration: 250ms;
}

.hover\:underline:hover {
  text-decoration-line: underline;
}

.hover\:opacity-hover:hover {
  opacity: var(--heroui-hover-opacity);
}

.hover\:after\:bg-danger\/20:hover::after {
  content: var(--tw-content);
  background-color: hsl(var(--heroui-danger) / 0.2);
}

.hover\:after\:bg-foreground\/10:hover::after {
  content: var(--tw-content);
  background-color: hsl(var(--heroui-foreground) / 0.1);
}

.hover\:after\:bg-primary\/20:hover::after {
  content: var(--tw-content);
  background-color: hsl(var(--heroui-primary) / 0.2);
}

.hover\:after\:bg-secondary\/20:hover::after {
  content: var(--tw-content);
  background-color: hsl(var(--heroui-secondary) / 0.2);
}

.hover\:after\:bg-success\/20:hover::after {
  content: var(--tw-content);
  background-color: hsl(var(--heroui-success) / 0.2);
}

.hover\:after\:bg-warning\/20:hover::after {
  content: var(--tw-content);
  background-color: hsl(var(--heroui-warning) / 0.2);
}

.hover\:after\:opacity-100:hover::after {
  content: var(--tw-content);
  opacity: 1;
}

.focus\:underline:focus {
  text-decoration-line: underline;
}

.active\:underline:active {
  text-decoration-line: underline;
}

.active\:opacity-disabled:active {
  opacity: var(--heroui-disabled-opacity);
}

.data-\[focus-visible\=true\]\:z-10[data-focus-visible="true"] {
  z-index: 10;
}

.data-\[open\=true\]\:flex[data-open="true"] {
  display: flex;
}

.data-\[justify\=end\]\:flex-grow[data-justify="end"] {
  flex-grow: 1;
}

.data-\[justify\=start\]\:flex-grow[data-justify="start"] {
  flex-grow: 1;
}

.data-\[justify\=end\]\:basis-0[data-justify="end"] {
  flex-basis: 0px;
}

.data-\[justify\=start\]\:basis-0[data-justify="start"] {
  flex-basis: 0px;
}

.data-\[justify\=start\]\:justify-start[data-justify="start"] {
  justify-content: flex-start;
}

.data-\[justify\=end\]\:justify-end[data-justify="end"] {
  justify-content: flex-end;
}

.data-\[justify\=center\]\:justify-center[data-justify="center"] {
  justify-content: center;
}

.data-\[menu-open\=true\]\:border-none[data-menu-open="true"] {
  border-style: none;
}

.data-\[active\=true\]\:font-semibold[data-active="true"] {
  font-weight: 600;
}

.data-\[focus-visible\=true\]\:outline-2[data-focus-visible="true"] {
  outline-width: 2px;
}

.data-\[focus-visible\=true\]\:outline-offset-2[data-focus-visible="true"] {
  outline-offset: 2px;
}

.data-\[focus-visible\=true\]\:outline-focus[data-focus-visible="true"] {
  outline-color: hsl(var(--heroui-focus) / var(--heroui-focus-opacity, 1));
}

.data-\[menu-open\=true\]\:backdrop-blur-xl[data-menu-open="true"] {
  --tw-backdrop-blur: blur(24px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
}

.group[data-pressed="true"] .group-data-\[pressed\=true\]\:opacity-70 {
  opacity: 0.7;
}

.group[data-open="true"]
  .group-data-\[open\=true\]\:before\:translate-y-px::before {
  content: var(--tw-content);
  --tw-translate-y: 1px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.group[data-open="true"] .group-data-\[open\=true\]\:before\:rotate-45::before {
  content: var(--tw-content);
  --tw-rotate: 45deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.group[data-open="true"]
  .group-data-\[open\=true\]\:after\:translate-y-0::after {
  content: var(--tw-content);
  --tw-translate-y: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.group[data-open="true"] .group-data-\[open\=true\]\:after\:-rotate-45::after {
  content: var(--tw-content);
  --tw-rotate: -45deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
